# Ignore dataset
data
dataset

data_spiral/
train/
test/
testing_imgs/

# Ignore trained models
# *.h5
data/
testing_imgs/
__pycache__/

# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/
env/

# OS files
.DS_Store
Thumbs.db

# Node modules (frontend)
node_modules/