# Ignore dataset
data
dataset
data_spiral/
train/
test/
testing_imgs/

# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/
env/

# OS files
.DS_Store
Thumbs.db

# Node modules
node_modules/